.input{
    height: 30px;
    margin: 20px 40px;
    width: calc(100% - 80px);
    background-color: rgba(43, 54, 91, 0.98);
    display: flex;
}
.input__input{
    flex: 7;
    background-color: rgb(88, 99, 136);
    border: none;
    outline: none;
    color: white;
    padding-left: 35px;
}
.input__button{
    height: 30px;
    width: 200px;
    background-color: rgb(68, 81, 121);
    border: none;
    color: white;
    display: inline-block;
    transition: font-size 200ms ease;
    cursor: pointer;

}
.input__button:hover{
    font-size: 17px;
    background-color: rgb(29, 145, 29)
}